<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js news</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
    <div class="header__logo">Node.js news</div>
    <div class="header__search">Search</div>
  </header>

     <div class="wrapper">
         <div class="news">
          <% if (articles != null){ %>
            <% articles.forEach(function(article, index){ %>
                <a href="article/<%- article.id %>" class="news__card">
                  <img src="<%- article.thumbnail_url %>" alt="<%- article.title.rendered %>">
                   <h2><%- article.title.rendered %></h2>
                   <p><%- article.excerpt.rendered %></p>
                </a>
            <% }) %>
          <% }else{ %>
            <h2>No Post found</h2>
          <% } %>
          </div>
    </div>
</body>
</html>